<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(36, 174, 162);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SparkBank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
  </div>
</nav>